body {
  background-color: rgb(252, 107, 168);
}
.container {
  text-align: center;
}
.names-container {
  background-color: rgb(152, 194, 185);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px;
  margin: auto;
}
.name {
  margin: 8px;
  /* background-color: aqua; */
}

ul,
li {
  list-style-type: none;
}
.f {
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(226, 238, 55);
}
.m {
  color: white;
  border-radius: 5px;
  background-color: rgb(37, 37, 33);
}
.search {
  border: 3px solid rgb(5, 118, 153);
  height: 30px;
  background-color: turquoise;
  margin: 7px;
}
