.container {
}
.names-container {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin: auto;
}
.name {
  margin: 8px;
  /* background-color: aqua; */
}

ul,
li {
  list-style-type: none;
}
.f {
  background-color: pink;
}
.m {
  background-color: rgb(192, 96, 221);
}
